html, body {
  overflow-x: hidden;
}

h1,h2{
	font-family: 'Open Sans', sans-serif;
}

body{
	background-color:white;
	margin-right:0;
}

a{
	text-decoration: none;
}


.navbar{
	height: 50px;
	background-color: rgba(255,255,255,1);
	padding-bottom: 100px
}

.top{
	color:black;
}

.white{
	background-color: white;
	padding: 65px 10px;

}

.blue{
	background-color: #c5dbe8;
	color:black;
	clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	padding: 65px 10px;
}

#profile-pic{
	border-radius: 50%;
	box-shadow: 0px 3px 5px 5px #cfd9df;
}

.btn-success{
	background-color:#4c524d;
	border-color:white;
	color:black;
}

.btn-success:hover{
	background-color:#858f85;
	border-color:black;
}

.btn-success:active{
	background-color:white;
	border-color:black;
}


#cv{
	text-decoration: none;
	color:black;
}

#socialMediaIcon{
	width: 50px;
	height: auto;
}

.dependency-logos img{
	width:auto;
	height:30px;
	padding: 5px 5px;
}

.dependency-logos{
	background:rgba(255,255,255,0.3);
	margin:0 10px;
	padding:5px;
}

.dependency-logos-white img{
	width:auto;
	height:30px;
	padding: 5px 5px;
}

.dependency-logos-white{
	background:rgba(0,0,0,0.3);
	margin:0 10px;
	padding:5px;
}
