h1,h2{
	font-family: 'Open Sans', sans-serif;
}

body {
  background-image: radial-gradient(#fafafa 20%, transparent 20%),
  radial-gradient(#fafafa 20%, transparent 20%);
  background-color: white;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
  height: 200px;
  width: 100%;
}


/* Alternating Info Rows */

.row{
	margin-left: 10px;
	margin-right: 10px;
}
.white{
	background-color: transparent;
	padding: 0px 10px;

}

.blue{
	background-color: #c5dbe8AA;
	color:black;
	clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	padding: 10px 10px;
}

/* CV Download */
.navbar{
	height: 50px;
	background-color: rgba(255,255,255,.5);
	padding-bottom: 100px
}

.btn-success{
	background-color:#4c524d;
	border-color:white;
	color:black;
}

.btn-success:hover{
	background-color:#858f85;
	border-color:black;
}

.btn-success:active{
	background-color:white;
	border-color:black;
}

#cv{
	text-decoration: none;
	color:black;
}

/* Images */
#profile-pic{
	border-radius: 50%;
	box-shadow: 0px 3px 5px 5px #cfd9df;
}


#socialMediaIcon{
	width: 50px;
	height: auto;
}

.dependency-logos img, .dependency-logos-white img{
	width:auto;
	height:40px;
	padding: 5px 5px;
}

.dependency-logos{
	margin:0 10px;
	width:auto;
	padding:5px;
}

.grad-img-sm{
	display:none;
}

.grad-img-lg{
		width:300px;
		height:auto;
		border-radius: 5%
}


@media (max-width: 575px) {
	.blue,.white{
		font-size:15px;
	}

	.dependency-logos, .dependency-logos-white{
		display: none
	}

	h1{
		font-size:25px;
	}

	h2{
		font-size:20px;
	}

	h5{
		font-size:16px;
	}
}

/*Ipad*/
@media (min-width: 768px) and (max-width: 991px) { 
	.blue,.white{
		font-size:20px;
		padding:50px 0;
		padding-bottom:100px;
	}

	.dependency-logos, .dependency-logos-white{
		display: none
	}

	.grad-img-sm{
		width:300px;
		height:auto;
		border-radius: 5%;
		display: block;
	}

	.grad-img-lg{
		display: none;
	}
}

@media (min-width: 992px){ 	
	.blue,.white{
		font-size:18px;
		padding:50px 0;
	} 
}